%p#notice= notice

%p
  %b Gamesettings:
  = @game.gamesettings_id
%p
  %b Name:
  = @game.name
%p
  %b Difficulty:
  = @game.difficulty
%p
  %b User:
  = @game.user_id
%p
  %b Multiplayer:
  = @game.multiplayer_id

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
