!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "f.ragment"
    %meta{:content => content_for?(:description) ? yield(:description) : "f.ragment", :name => "description"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container
      .row
        %header.col-lg-12
          = render 'layouts/navigation'
      .row
        %main.col-lg-12{:role => "main"}
          = render 'layouts/messages'
          = yield
      .row
        %footer.col-lg-12
      / ! end of .container
    / ! end of #main
